<!-- <p>tableside works!</p> -->

<!-- <div class="row">
    <div class="col-xs-12 col-12">
      <div class="content-wrapper">
        <p class="content-item" *ngFor="let content of returnedArray">{{content}}</p>
      </div>
      <pagination [totalItems]="contentArray.length" (pageChanged)="pageChanged($event)"></pagination>
    </div>
  </div> -->

<div class="container">
  <input type="text" placeholder="Name Filter" [(ngModel)]="filtername" (change)="loadUsers(true)">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="content-item" *ngFor="let user of users.data">
        <td scope="row">{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.gender}}</td>
        <td>{{user.status}}</td>
        <td> <button> View Posts </button> </td>
      </tr>
    </tbody>
    <pagination [totalItems]="count_pages" [(ngModel)]="page" [maxSize]="maxSize" (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
  </table>
</div>